@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/hero.css");
@import url("components/card.css");


body {
    font-family: 'Lora', serif;
    font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
    background-color: black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.courses {
    padding: 20px;
}

.course-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

